@{
    Layout = "~/Views/Shared/_LayoutOrderFailure.cshtml";
    ViewBag.Title = "OrderFailure";
}

@model eUseControl.Web.Models.Order.OrderMini

<div class="confirmation-content">
    <h1 style="margin-top: -25px;">Order failed!</h1>
    <p class="thank-you-msg">
        <span class="icon">❌</span>
        <span class="main-msg">Sorry, we couldn't process your order.</span>
    </p>
    <p class="sub-msg">A problem occurred, and we could not complete your order.</p>
    <div class="order-details">
        <p><strong>Order number:</strong> #@Model.Id</p>
        <p><strong>Date:</strong> @Model.OrderDate</p>
        <p><strong>Total:</strong> $@Model.TotalPrice</p>
    </div>
    <a href="@Url.Action("Index", "Main")" class="btn-home" style="margin-top: 31px; color: white !important;">
        Back to home page
    </a>
</div>