﻿@{
    Layout = "~/Views/Shared/_LayoutOrderConfirmation.cshtml";
    ViewBag.Title = "OrderConfirmation";
}

@model eUseControl.Web.Models.Order.OrderMini

<div class="confirmation-content">
    <h1 style="margin-top: -25px;">Order confirmed!</h1>
    <p class="thank-you-msg">
        <span class="icon">✔️</span>
        <span class="main-msg">Thank you for your purchase!</span>
    </p>
    <p class="sub-msg">A confirmation email has been sent with your order details.</p>
    <div class="order-details">
        <p><strong>Order number:</strong> #@Model.Id</p>
        <p><strong>Date:</strong> @Model.OrderDate</p>
        <p><strong>Total:</strong> $@Model.TotalPrice</p>
    </div>
    <a href="@Url.Action("Index", "Main")" class="btn-home" style="margin-top: 31px; color: white !important;">
        Back to home page
    </a>
</div>
